Author: Susan Hopper

## Fill in missing lat/longs with lat/long of zip code centroid

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# Pulled all zipcodes in US, with centroid lat/longs
# Data from https://www.unitedstateszipcodes.org/zip-code-database/

zipcode = pd.read_csv('../1_data/zip_code_database.csv')

In [4]:
# These zips are in int64
# Converting to str and keeping just the first 5 characters, so they can match up as my merge keys later

zipcode['zip'] = zipcode['zip'].astype(str).str[:5]

zipcode.head(2)

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0

In [5]:
# Renaming the zipcode df lat/longs to have unique columns names when I merge later

zipcode.rename(columns = {'latitude': 'cent_lat', 'longitude': 'cent_long'}, inplace = True)

In [ ]:
zipcode.info()

In [6]:
# Bringing in our cleaned df

df = pd.read_csv('../susan/data/partial_clean_data_kjsh.csv')

In [ ]:
df['longitude'].isna().sum()

In [7]:
df = df.merge(zipcode[['zip', 'cent_long', 'cent_lat']], how='left', left_on='incident_zip_code', right_on='zip')

In [9]:
df['longitude'] = df['longitude'].fillna(df['cent_long'])
df['latitude'] = df['latitude'].fillna(df['cent_lat'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37151 entries, 0 to 37150
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_of_incident        36688 non-null  object
 1   date_of_death           37151 non-null  object
 2   age                     37151 non-null  float64
 3   gender                  37151 non-null  int64
 4   race                    37151 non-null  object
 5   latino                  37151 non-null  int64
 6   manner_of_death         37151 non-null  object
 7   primary_cause           37151 non-null  object
 8   primary_cause_line_a    37151 non-null  object
 9   primary_cause_line_b    37151 non-null  object
 10  primary_cause_line_c    37151 non-null  object
 11  secondary_cause         37151 non-null  object
 12  gun_related             37151 non-null  int64
 13  opioid_related          37151 non-null  int64
 14  cold_related            37151 non-null  int64
 15  heat_related            37151 non-null  int64
 16  commissioner_district   37151 non-null  object
 17  incident_city           37151 non-null  object
 18  incident_zip_code       37151 non-null  object
 19  longitude               36543 non-null  float64
 20  latitude                36543 non-null  float64
 21  residence_city          37151 non-null  object
 22  residence_zip           37151 non-null  object
 23  chicago_community_area  37151 non-null  object
 24  covid_related           37151 non-null  int64
 25  age_range               37151 non-null  object
 26  death_date              37151 non-null  object
 27  death_time              37151 non-null  object
 28  death_day               37151 non-null  object
 29  inc_date                36688 non-null  object
 30  inc_time                36688 non-null  object
 31  inc_day                 36688 non-null  object
 32  zip                     36394 non-null  object
 33  cent_long               36394 non-null  float64
 34  cent_lat                36394 non-null  float64
dtypes: float64(5), int64(7), object(23)
memory usage: 10.2+ MB

In [10]:
# We filled in 4467 missing lat/longs

df['longitude'].isna().sum()

608

In [11]:
df.sample(7)

,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,primary_cause_line_c,secondary_cause,gun_related,opioid_related,cold_related,heat_related,commissioner_district,incident_city,incident_zip_code,longitude,latitude,residence_city,residence_zip,chicago_community_area,covid_related,age_range,death_date,death_time,death_day,inc_date,inc_time,inc_day,zip,cent_long,cent_lat
5782,2022-07-23 20:34:00,2022-07-24 00:17:00,59.0,0,White,1,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,no_text,no_text,no_text,1,0,0,0,4.0,BURNHAM,60633,-87.548963,41.643917,Chicago,60632,no_text,0,25-64,2022-07-24,00:17:00,Sunday,2022-07-23,20:34:00,Saturday,60633,-87.56,41.66
36631,2014-10-09 14:11:00,2014-10-15 16:00:00,45.0,1,Black,0,ACCIDENT,ANAPHYLACTOID REACTION,ANAPHYLACTOID REACTION,no_text,no_text,no_text,0,0,0,0,4.0,CHICAGO,60620,-87.666899,41.738545,Chicago,60620,AUBURN GRESHAM,0,25-64,2014-10-15,16:00:00,Wednesday,2014-10-09,14:11:00,Thursday,60620,-87.65,41.74
16565,2020-06-09 20:55:00,2020-06-09 21:30:00,30.0,0,Black,0,HOMICIDE,GUNSHOT WOUND OF HEAD,GUNSHOT WOUND OF HEAD,no_text,no_text,no_text,1,0,0,0,2.0,CHICAGO,60636,-87.682629,41.780153,Chicago,60636,CHICAGO LAWN,0,25-64,2020-06-09,21:30:00,Tuesday,2020-06-09,20:55:00,Tuesday,60636,-87.67,41.78
31224,2016-07-18 20:51:00,2016-07-23 00:48:00,20.0,0,White,1,HOMICIDE,GUNSHOT WOUND OF HEAD,GUNSHOT WOUND OF HEAD,no_text,no_text,no_text,1,0,0,0,7.0,CHICAGO,60609,-87.672267,41.813006,Chicago,60609,NEW CITY,0,15-24,2016-07-23,00:48:00,Saturday,2016-07-18,20:51:00,Monday,60609,-87.68,41.83
6760,2022-05-09 00:00:00,2022-05-16 13:40:00,23.0,0,White,0,ACCIDENT,COMPLICATIONS OF BLUNT FORCE INJURIES OF THE H...,COMPLICATIONS OF BLUNT FORCE INJURIES OF THE HEAD,FALL FROM SKATEBOARD,no_text,no_text,0,0,0,0,no_text,UNKNOWN,no_text,NaN,NaN,Lake Zurich,60047,no_text,0,15-24,2022-05-16,13:40:00,Monday,2022-05-09,00:00:00,Monday,NaN,NaN,NaN
21832,2002-01-01 00:00:00,2019-02-13 20:18:00,49.0,0,Black,0,HOMICIDE,COMPLICATIONS OF REMOTE GUNSHOT WOUND(S) INVOL...,COMPLICATIONS OF REMOTE GUNSHOT WOUND(S) INVOL...,no_text,no_text,"DIABETES MELLITUS, HYPERTENSIVE CARDIOVASCULAR...",1,0,0,0,no_text,CHICAGO,60601,-87.620000,41.890000,Chicago,60651,no_text,0,25-64,2019-02-13,20:18:00,Wednesday,2002-01-01,00:00:00,Tuesday,60601,-87.62,41.89
16374,2020-06-10 00:00:00,2020-06-22 00:01:00,72.0,0,White,0,ACCIDENT,CLOSED HEAD INJURIES. FALL,CLOSED HEAD INJURIES,FALL,no_text,"MULTIPLE MYELOMA, HYPERTENSIVE CARDIOAVSCULAR ...",0,0,0,0,no_text,DEERFIELD,60015,-87.840000,42.160000,Deerfield,60015,no_text,0,65+,2020-06-22,00:01:00,Monday,2020-06-10,00:00:00,Wednesday,60015,-87.84,42.16

In [12]:
# Set remaining missing lat/longs to 0, 0, as a substitute for 'unknown'

df['longitude'] = df['longitude'].fillna(0)
df['latitude'] = df['latitude'].fillna(0)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37151 entries, 0 to 37150
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_of_incident        36688 non-null  object
 1   date_of_death           37151 non-null  object
 2   age                     37151 non-null  float64
 3   gender                  37151 non-null  int64
 4   race                    37151 non-null  object
 5   latino                  37151 non-null  int64
 6   manner_of_death         37151 non-null  object
 7   primary_cause           37151 non-null  object
 8   primary_cause_line_a    37151 non-null  object
 9   primary_cause_line_b    37151 non-null  object
 10  primary_cause_line_c    37151 non-null  object
 11  secondary_cause         37151 non-null  object
 12  gun_related             37151 non-null  int64
 13  opioid_related          37151 non-null  int64
 14  cold_related            37151 non-null  int64
 15  heat_related            37151 non-null  int64
 16  commissioner_district   37151 non-null  object
 17  incident_city           37151 non-null  object
 18  incident_zip_code       37151 non-null  object
 19  longitude               37151 non-null  float64
 20  latitude                37151 non-null  float64
 21  residence_city          37151 non-null  object
 22  residence_zip           37151 non-null  object
 23  chicago_community_area  37151 non-null  object
 24  covid_related           37151 non-null  int64
 25  age_range               37151 non-null  object
 26  death_date              37151 non-null  object
 27  death_time              37151 non-null  object
 28  death_day               37151 non-null  object
 29  inc_date                36688 non-null  object
 30  inc_time                36688 non-null  object
 31  inc_day                 36688 non-null  object
 32  zip                     36394 non-null  object
 33  cent_long               36394 non-null  float64
 34  cent_lat                36394 non-null  float64
dtypes: float64(5), int64(7), object(23)
memory usage: 10.2+ MB

In [ ]:
# These rows have bad zipcode values (verified on the USPS website)

# df[(df['longitude'].isna()) & (df['incident_zip_code']!='no_text')]

In [15]:
# Drop the zipcode-cetroid related columns

df = df.drop(columns=['zip', 'cent_lat', 'cent_long'])
df.sample(6)

,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,primary_cause_line_c,secondary_cause,gun_related,opioid_related,cold_related,heat_related,commissioner_district,incident_city,incident_zip_code,longitude,latitude,residence_city,residence_zip,chicago_community_area,covid_related,age_range,death_date,death_time,death_day,inc_date,inc_time,inc_day
7517,2022-03-20 21:12:00,2022-03-20 21:36:00,58.0,0,White,1,SUICIDE,GUNSHOT WOUND OF HEAD,GUNSHOT WOUND OF HEAD,no_text,no_text,no_text,1,0,0,0,5.0,CHICAGO HEIGHTS,60411,-87.653041,41.514991,Chicago Heights,60411,no_text,0,25-64,2022-03-20,21:36:00,Sunday,2022-03-20,21:12:00,Sunday
2173,2023-04-08 00:00:00,2023-04-08 13:02:00,36.0,0,White,0,ACCIDENT,"COMBINED DRUG (FENTANYL, 4-ANPP (DESPROPIONYL ...","COMBINED DRUG (FENTANYL, 4-ANPP (DESPROPIONYL ...",no_text,no_text,no_text,0,1,0,0,17.0,CHICAGO,60656,-87.903989,41.975732,no_text,no_text,OHARE,0,25-64,2023-04-08,13:02:00,Saturday,2023-04-08,00:00:00,Saturday
18298,2020-01-25 09:34:00,2020-01-25 09:47:00,56.0,0,White,0,ACCIDENT,"COMBINED DRUG (FENTANYL, DESPROPIONYL FENTANYL...","COMBINED DRUG (FENTANYL, DESPROPIONYL FENTANYL...",no_text,no_text,no_text,0,1,0,0,16.0,RIVERSIDE,60546,-87.822587,41.827207,Riverside,60546,no_text,0,25-64,2020-01-25,09:47:00,Saturday,2020-01-25,09:34:00,Saturday
8209,2022-01-22 10:44:00,2022-01-29 11:00:00,46.0,0,Black,0,ACCIDENT,CEREBROVASCULAR ACCIDENT. HYPERTENSIVE ARTERIO...,CEREBROVASCULAR ACCIDENT,HYPERTENSIVE ARTERIOSCLEROTIC CARDIOVASCULAR D...,no_text,PROBABLE COCAINE TOXICITY,0,0,0,0,2.0,CHICAGO,60636,-87.669807,41.771484,Harvey,60426,WEST ENGLEWOOD,0,25-64,2022-01-29,11:00:00,Saturday,2022-01-22,10:44:00,Saturday
30974,2016-08-23 07:02:00,2016-08-23 07:39:00,56.0,1,White,0,ACCIDENT,MULTIPLE INJURIES. MOTOR VEHICLE STRIKING PEDE...,MULTIPLE INJURIES,MOTOR VEHICLE STRIKING PEDESTRIAN,no_text,no_text,0,0,0,0,10.0,CHICAGO,60646,-87.778226,41.997520,Chicago,60631,FOREST GLEN,0,25-64,2016-08-23,07:39:00,Tuesday,2016-08-23,07:02:00,Tuesday
7690,2022-03-07 20:13:00,2022-03-07 20:30:00,20.0,0,White,1,ACCIDENT,COMBINED DRUG (AMPHETAMINE AND FLUBROMAZOLAM) ...,COMBINED DRUG (AMPHETAMINE AND FLUBROMAZOLAM) ...,no_text,no_text,no_text,0,0,0,0,9.0,ELMWOOD PARK,60707,-87.810405,41.911671,Elmwood Park,60707,no_text,0,15-24,2022-03-07,20:30:00,Monday,2022-03-07,20:13:00,Monday

In [18]:
df.to_csv('../susan/data/cleaned_data_31OCT.csv', index=False)

In [19]:
df2 = pd.read_csv('../1_data/cleaned_data_31OCT.csv')
df2.sample(3)

,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,primary_cause_line_c,secondary_cause,gun_related,opioid_related,cold_related,heat_related,commissioner_district,incident_city,incident_zip_code,longitude,latitude,residence_city,residence_zip,chicago_community_area,covid_related,age_range,death_date,death_time,death_day,inc_date,inc_time,inc_day
5915,2022-07-15 20:20:00,2022-07-15 20:30:00,50.0,0,White,1,SUICIDE,GUNSHOT WOUND OF THE HEAD,GUNSHOT WOUND OF THE HEAD,no_text,no_text,no_text,1,0,0,0,17.0,ELK GROVE VILLAGE,60007,-87.987663,41.996753,Elk Grove Village,60007,no_text,0,25-64,2022-07-15,20:30:00,Friday,2022-07-15,20:20:00,Friday
12546,2021-04-13 11:02:00,2021-04-13 11:09:00,52.0,1,Black,0,ACCIDENT,"COMBINED DRUG (FENTANYL, METHADONE, AND BUPREN...","COMBINED DRUG (FENTANYL, METHADONE, AND BUPREN...",no_text,no_text,no_text,0,1,0,0,1.0,CHICAGO,60651,-87.706586,41.892694,Chicago,60612,HUMBOLDT PARK,0,25-64,2021-04-13,11:09:00,Tuesday,2021-04-13,11:02:00,Tuesday
35695,2015-02-15 00:00:00,2015-02-25 16:40:00,86.0,1,White,0,ACCIDENT,COMPLICATIONS FOLLOWING RIGHT HIP FRACTURE. FALL,COMPLICATIONS FOLLOWING RIGHT HIP FRACTURE,FALL,no_text,"DIABETES MELLITUS, HYPERTENSIVE AND ARTERIOSCL...",0,0,0,0,7.0,CHICAGO,60629,-87.718317,41.774886,Chicago,60629,WEST LAWN,0,65+,2015-02-25,16:40:00,Wednesday,2015-02-15,00:00:00,Sunday