In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df= pd.read_csv('../susan/data/more_lat_longs.csv')

In [3]:
df.head()

,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,...,residence_zip,chicago_community_area,covid_related,age_range,death_date,death_time,death_day,inc_date,inc_time,inc_day
0,2023-10-24 00:43:00,2023-10-25 00:11:00,22.0,1,Black,0,ACCIDENT,MULTIPLE BLUNT FORCE INJURIES. MOTOR VEHICLE C...,MULTIPLE BLUNT FORCE INJURIES,MOTOR VEHICLE COLLISION,...,46224,AUSTIN,0,15-24,2023-10-25,00:11:00,Wednesday,2023-10-24,00:43:00,Tuesday
1,2023-10-24 22:30:00,2023-10-24 21:51:00,35.0,0,Black,0,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,no_text,...,60633,SOUTH SHORE,0,25-64,2023-10-24,21:51:00,Tuesday,2023-10-24,22:30:00,Tuesday
2,2023-10-24 21:18:00,2023-10-24 20:36:00,54.0,0,White,0,SUICIDE,GUNSHOT WOUND OF HEAD,GUNSHOT WOUND OF HEAD,no_text,...,60634,PORTAGE PARK,0,25-64,2023-10-24,20:36:00,Tuesday,2023-10-24,21:18:00,Tuesday
3,2023-10-24 07:48:00,2023-10-24 07:16:00,19.0,0,Black,0,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,no_text,...,no_text,SOUTH SHORE,0,15-24,2023-10-24,07:16:00,Tuesday,2023-10-24,07:48:00,Tuesday
4,2023-10-23 22:21:00,2023-10-23 21:29:00,41.0,0,Black,0,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,no_text,...,60636,WEST ENGLEWOOD,0,25-64,2023-10-23,21:29:00,Monday,2023-10-23,22:21:00,Monday

In [4]:
df.columns

Index(['date_of_incident', 'date_of_death', 'age', 'gender', 'race', 'latino',
       'manner_of_death', 'primary_cause', 'primary_cause_line_a',
       'primary_cause_line_b', 'primary_cause_line_c', 'secondary_cause',
       'gun_related', 'opioid_related', 'cold_related', 'heat_related',
       'commissioner_district', 'incident_city', 'incident_zip_code',
       'longitude', 'latitude', 'residence_city', 'residence_zip',
       'chicago_community_area', 'covid_related', 'age_range', 'death_date',
       'death_time', 'death_day', 'inc_date', 'inc_time', 'inc_day'],
      dtype='object')

In [9]:
df[df.latitude.isna() & df.longitude.isna()].shape

(608, 32)

In [11]:
df[df.latitude.isna() & df.longitude.isna()][['incident_city','commissioner_district','incident_zip_code','residence_city', 'residence_zip','chicago_community_area']]

,incident_city,commissioner_district,incident_zip_code,residence_city,residence_zip,chicago_community_area
57,UNKNOWN,no_text,no_text,Blue Island,60406,NOT CHICAGO
107,no_text,no_text,no_text,Chicago,60630,NOT CHICAGO
119,no_text,no_text,no_text,Lombard,60148,NOT CHICAGO
151,no_text,no_text,no_text,Calumet City,60409,NOT CHICAGO
167,UNKNOWN,no_text,no_text,Chicago,60620,NOT CHICAGO
...,...,...,...,...,...,...
37041,no_text,no_text,no_text,Calumet City,60409,NOT CHICAGO
37087,no_text,no_text,no_text,Hammond,46327,NOT CHICAGO
37093,no_text,no_text,no_text,Hammond,46320,NOT CHICAGO
37112,no_text,no_text,no_text,Matteson,60443,NOT CHICAGO
37137,CHICAGO,no_text,no_text,Chicago,60638,NOT CHICAGO

In [ ]:
df[df.latitude.isna() & df.longitude.isna()]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37151 entries, 0 to 37150
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_of_incident        36688 non-null  object
 1   date_of_death           37151 non-null  object
 2   age                     37151 non-null  float64
 3   gender                  37151 non-null  int64
 4   race                    37151 non-null  object
 5   latino                  37151 non-null  int64
 6   manner_of_death         37151 non-null  object
 7   primary_cause           37151 non-null  object
 8   primary_cause_line_a    37151 non-null  object
 9   primary_cause_line_b    37151 non-null  object
 10  primary_cause_line_c    37151 non-null  object
 11  secondary_cause         37151 non-null  object
 12  gun_related             37151 non-null  int64
 13  opioid_related          37151 non-null  int64
 14  cold_related            37151 non-null  int64
 15  heat_related            37151 non-null  int64
 16  commissioner_district   37151 non-null  object
 17  incident_city           37151 non-null  object
 18  incident_zip_code       37151 non-null  object
 19  longitude               36543 non-null  float64
 20  latitude                36543 non-null  float64
 21  residence_city          37151 non-null  object
 22  residence_zip           37151 non-null  object
 23  chicago_community_area  37151 non-null  object
 24  covid_related           37151 non-null  int64
 25  age_range               37151 non-null  object
 26  death_date              37151 non-null  object
 27  death_time              37151 non-null  object
 28  death_day               37151 non-null  object
 29  inc_date                36688 non-null  object
 30  inc_time                36688 non-null  object
 31  inc_day                 36688 non-null  object
dtypes: float64(3), int64(7), object(22)
memory usage: 9.1+ MB

from gensim import corpora, models

# Create a Gensim corpus and dictionary
dictionary = corpora.Dictionary(your_preprocessed_text_data)
corpus = [dictionary.doc2bow(doc) for doc in your_preprocessed_text_data]

# Build the LDA model
num_topics = 6  # Choose the number of topics
lda_model = models.LdaModel(corpus, num_topics=num_topics, id2word=dictionary, passes=15)
# Get the topics and their top words
topics = lda_model.print_topics(num_words=10)

# Assign topics to documents
for i, doc in enumerate(your_preprocessed_text_data):
    topic_distribution = lda_model.get_document_topics(corpus[i])
    print(f"Document {i}: {topic_distribution}")