In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns









df = pd.read_csv('../data/Medical_Examiner_Case_Archive.csv')

df.columns = df.columns.str.lower().str.replace(' ','_')

df.columns

df.head()

df.shape

df.info()

df.manner_of_death.value_counts()

df[df['manner_of_death']=='NATURAL'].primary_cause.value_counts().sample(25)



df.primary_cause.value_counts()

len(df.primary_cause_line_a.value_counts())

len(df.primary_cause.value_counts())

df.primary_cause.isna().sum()

df.primary_cause.notna().sum()

df.incident_zip_code.value_counts(ascending=False).head(40)

df.columns

df.loc[(df['manner_of_death']== 'NATURAL') |(df['manner_of_death']== 'UNDETERMINED')]

df = df[df['manner_of_death'].notna()]

df['manner_of_death'][0].is_

### working with the data cleaned collaboratively from here on

In [2]:
df = pd.read_csv('../data/dataframe.csv',index_col='Unnamed: 0')

In [3]:
df.head()

,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,...,heat_related,commissioner_district,incident_city,incident_zip_code,longitude,latitude,residence_city,residence_zip,chicago_community_area,covid_related
20,10/24/2023 12:43:00 AM,10/25/2023 12:11:00 AM,22.0,Female,Black,False,ACCIDENT,MULTIPLE BLUNT FORCE INJURIES. MOTOR VEHICLE C...,MULTIPLE BLUNT FORCE INJURIES,MOTOR VEHICLE COLLISION,...,False,1.0,CHICAGO,60644.0,-87.754890,41.872093,Indianapolis,46224.0,AUSTIN,False
22,10/24/2023 10:30:00 PM,10/24/2023 09:51:00 PM,35.0,Male,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,...,False,4.0,CHICAGO,60649.0,-87.558292,41.759939,Chicago,60633.0,SOUTH SHORE,False
23,10/24/2023 09:18:00 PM,10/24/2023 08:36:00 PM,54.0,Male,White,False,SUICIDE,GUNSHOT WOUND OF HEAD,GUNSHOT WOUND OF HEAD,NaN,...,False,12.0,CHICAGO,60634.0,-87.780811,41.955351,Chicago,60634.0,PORTAGE PARK,False
30,10/24/2023 07:48:00 AM,10/24/2023 07:16:00 AM,19.0,Male,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,...,False,3.0,CHICAGO,60649.0,-87.584359,41.771935,NaN,NaN,SOUTH SHORE,False
35,10/23/2023 10:21:00 PM,10/23/2023 09:29:00 PM,41.0,Male,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,...,False,2.0,CHICAGO,60636.0,-87.663792,41.782286,Chicago,60636.0,WEST ENGLEWOOD,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37158 entries, 20 to 78220
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_of_incident        36699 non-null  object
 1   date_of_death           37157 non-null  object
 2   age                     37126 non-null  float64
 3   gender                  37152 non-null  object
 4   race                    37109 non-null  object
 5   latino                  37158 non-null  bool
 6   manner_of_death         37158 non-null  object
 7   primary_cause           37158 non-null  object
 8   primary_cause_line_a    37158 non-null  object
 9   primary_cause_line_b    11848 non-null  object
 10  primary_cause_line_c    516 non-null    object
 11  secondary_cause         7196 non-null   object
 12  gun_related             37158 non-null  bool
 13  opioid_related          37158 non-null  bool
 14  cold_related            37158 non-null  bool
 15  heat_related            37158 non-null  bool
 16  commissioner_district   32080 non-null  float64
 17  incident_city           36708 non-null  object
 18  incident_zip_code       36456 non-null  float64
 19  longitude               32081 non-null  float64
 20  latitude                32081 non-null  float64
 21  residence_city          36129 non-null  object
 22  residence_zip           36143 non-null  float64
 23  chicago_community_area  21544 non-null  object
 24  covid_related           37158 non-null  bool
dtypes: bool(6), float64(6), object(13)
memory usage: 5.9+ MB

In [5]:
df.columns

Index(['date_of_incident', 'date_of_death', 'age', 'gender', 'race', 'latino',
       'manner_of_death', 'primary_cause', 'primary_cause_line_a',
       'primary_cause_line_b', 'primary_cause_line_c', 'secondary_cause',
       'gun_related', 'opioid_related', 'cold_related', 'heat_related',
       'commissioner_district', 'incident_city', 'incident_zip_code',
       'longitude', 'latitude', 'residence_city', 'residence_zip',
       'chicago_community_area', 'covid_related'],
      dtype='object')

### Gender mapped {'Male':1,'Female':0} There is one unknown value

In [6]:
df[df['gender']=='Unknown'] # mostly blank bad data, drop it

,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,...,heat_related,commissioner_district,incident_city,incident_zip_code,longitude,latitude,residence_city,residence_zip,chicago_community_area,covid_related
12645,03/20/2022 02:47:00 PM,03/20/2022 04:41:00 PM,NaN,Unknown,Unknown,False,HOMICIDE,HOMICIDE BY UNSPECIFIED MEANS,HOMICIDE BY UNSPECIFIED MEANS,NaN,...,False,16.0,BERWYN,60402.0,-87.802092,41.806875,NaN,NaN,NaN,False

In [7]:
df.columns =['date_of_incident', 'date_of_death', 'age', 'is_male', 'race', 'latino',
       'manner_of_death', 'primary_cause', 'primary_cause_line_a',
       'primary_cause_line_b', 'primary_cause_line_c', 'secondary_cause',
       'gun_related', 'opioid_related', 'cold_related', 'heat_related',
       'commissioner_district', 'incident_city', 'incident_zip_code',
       'longitude', 'latitude', 'residence_city', 'residence_zip',
       'chicago_community_area', 'covid_related']

In [8]:
df = df[df['is_male']!='Unknown'] # drop this specific sketchy datapoint

In [9]:
df['is_male']=df['is_male'].map({'Male':True,'Female':False})

In [10]:
df['is_male'] =np.where(df['is_male'].isna(),False,df['is_male'])

In [11]:
df[df['is_male'].isna()==True]

Empty DataFrame
Columns: [date_of_incident, date_of_death, age, is_male, race, latino, manner_of_death, primary_cause, primary_cause_line_a, primary_cause_line_b, primary_cause_line_c, secondary_cause, gun_related, opioid_related, cold_related, heat_related, commissioner_district, incident_city, incident_zip_code, longitude, latitude, residence_city, residence_zip, chicago_community_area, covid_related]
Index: []

[0 rows x 25 columns]

In [12]:
df.head()

,date_of_incident,date_of_death,age,is_male,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,...,heat_related,commissioner_district,incident_city,incident_zip_code,longitude,latitude,residence_city,residence_zip,chicago_community_area,covid_related
20,10/24/2023 12:43:00 AM,10/25/2023 12:11:00 AM,22.0,False,Black,False,ACCIDENT,MULTIPLE BLUNT FORCE INJURIES. MOTOR VEHICLE C...,MULTIPLE BLUNT FORCE INJURIES,MOTOR VEHICLE COLLISION,...,False,1.0,CHICAGO,60644.0,-87.754890,41.872093,Indianapolis,46224.0,AUSTIN,False
22,10/24/2023 10:30:00 PM,10/24/2023 09:51:00 PM,35.0,True,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,...,False,4.0,CHICAGO,60649.0,-87.558292,41.759939,Chicago,60633.0,SOUTH SHORE,False
23,10/24/2023 09:18:00 PM,10/24/2023 08:36:00 PM,54.0,True,White,False,SUICIDE,GUNSHOT WOUND OF HEAD,GUNSHOT WOUND OF HEAD,NaN,...,False,12.0,CHICAGO,60634.0,-87.780811,41.955351,Chicago,60634.0,PORTAGE PARK,False
30,10/24/2023 07:48:00 AM,10/24/2023 07:16:00 AM,19.0,True,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,...,False,3.0,CHICAGO,60649.0,-87.584359,41.771935,NaN,NaN,SOUTH SHORE,False
35,10/23/2023 10:21:00 PM,10/23/2023 09:29:00 PM,41.0,True,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,...,False,2.0,CHICAGO,60636.0,-87.663792,41.782286,Chicago,60636.0,WEST ENGLEWOOD,False

## percents of deaths attributed to the boolean columns

In [13]:
df['manner_of_death'].value_counts()

ACCIDENT    25008
HOMICIDE     7748
SUICIDE      4401
Name: manner_of_death, dtype: int64

In [14]:
df[['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related        8274
opioid_related    12605
cold_related        517
heat_related         25
covid_related       250
dtype: int64

In [15]:
df[df['manner_of_death']=='ACCIDENT'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related          12
opioid_related    12354
cold_related        512
heat_related         25
covid_related       247
dtype: int64

In [16]:
df[df['manner_of_death']=='HOMICIDE'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related       6793
opioid_related      10
cold_related         2
heat_related         0
covid_related        1
dtype: int64

In [17]:
df[df['manner_of_death']=='SUICIDE'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related       1469
opioid_related     241
cold_related         3
heat_related         0
covid_related        2
dtype: int64

In [18]:
causes = df[['gun_related','opioid_related','cold_related','heat_related','covid_related']].groupby(df['manner_of_death']).sum()

In [19]:
#male_causes = df[df['is_male']][['gun_related','opioid_related','cold_related','heat_related','covid_related']].groupby(df['manner_of_death']).sum()

In [20]:
causes

,gun_related,opioid_related,cold_related,heat_related,covid_related
manner_of_death,,,,,
ACCIDENT,12,12354,512,25,247
HOMICIDE,6793,10,2,0,1
SUICIDE,1469,241,3,0,2

In [21]:
df[df['gun_related'] +df['opioid_related']+df['cold_related']+df['heat_related'] ==0].shape

(15890, 25)

In [22]:
df[df['gun_related'] +df['opioid_related']+df['cold_related']+df['heat_related'] >0].shape

(21267, 25)

In [23]:
df.shape

(37157, 25)

In [24]:
df[df['gun_related'] +df['opioid_related']+df['cold_related']+df['heat_related'] >1].shape # good no multiples for cat causes

(0, 25)

In [25]:
df[df['gun_related'] +df['opioid_related']+df['cold_related']+df['heat_related'] ==0]['manner_of_death'].value_counts()

ACCIDENT    12256
SUICIDE      2689
HOMICIDE      945
Name: manner_of_death, dtype: int64

In [26]:
df['manner_of_death'].value_counts()

ACCIDENT    25008
HOMICIDE     7748
SUICIDE      4401
Name: manner_of_death, dtype: int64

In [27]:
other = pd.DataFrame(df[df['gun_related'] +df['opioid_related']+df['cold_related']+df['heat_related'] +df['cold_related']==0]['manner_of_death'].value_counts())

In [28]:
all_causes = pd.concat([causes,other], axis=1)

In [29]:
all_causes.columns = ['gun_related', 'opioid_related', 'cold_related', 'heat_related', 'covid_related',
       'other']

In [30]:
all_causes['tracked_category'] = all_causes['gun_related'] +all_causes['opioid_related']+all_causes['heat_related']+all_causes['heat_related']

In [31]:
all_causes

,gun_related,opioid_related,cold_related,heat_related,covid_related,other,tracked_category
ACCIDENT,12,12354,512,25,247,12256,12416
HOMICIDE,6793,10,2,0,1,945,6803
SUICIDE,1469,241,3,0,2,2689,1710

In [32]:
pd.set_option('display.max_colwidth', None)

In [33]:
# df[(df['manner_of_death']=='HOMICIDE') & (df['covid_related'])][['primary_cause','secondary_cause']]
#too sad

## gender difference?

In [34]:
males = df[df['is_male']==True]

In [35]:
non_males = df[df['is_male']==False]

In [36]:
males['manner_of_death'].value_counts()

ACCIDENT    17822
HOMICIDE     6807
SUICIDE      3368
Name: manner_of_death, dtype: int64

In [37]:
non_males['manner_of_death'].value_counts()

ACCIDENT    7186
SUICIDE     1033
HOMICIDE     941
Name: manner_of_death, dtype: int64

In [38]:
males[['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related       7500
opioid_related    9587
cold_related       414
heat_related        10
covid_related      150
dtype: int64

In [39]:
non_males[['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related        774
opioid_related    3018
cold_related       103
heat_related        15
covid_related      100
dtype: int64

In [40]:
males[males['manner_of_death']=='ACCIDENT'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related         11
opioid_related    9468
cold_related       409
heat_related        10
covid_related      148
dtype: int64

In [41]:
non_males[non_males['manner_of_death']=='ACCIDENT'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related          1
opioid_related    2886
cold_related       103
heat_related        15
covid_related       99
dtype: int64

In [42]:
males[males['manner_of_death']=='HOMICIDE'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related       6175
opioid_related       6
cold_related         2
heat_related         0
covid_related        1
dtype: int64

In [43]:
non_males[non_males['manner_of_death']=='HOMICIDE'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related       618
opioid_related      4
cold_related        0
heat_related        0
covid_related       0
dtype: int64

In [44]:
males[males['manner_of_death']=='SUICIDE'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related       1314
opioid_related     113
cold_related         3
heat_related         0
covid_related        1
dtype: int64

In [45]:
non_males[non_males['manner_of_death']=='SUICIDE'][['gun_related','opioid_related','cold_related','heat_related','covid_related']].sum()

gun_related       155
opioid_related    128
cold_related        0
heat_related        0
covid_related       1
dtype: int64

In [46]:
male_causes = males[['gun_related','opioid_related','cold_related','heat_related','covid_related']].groupby(males['manner_of_death']).sum()

In [56]:
non_male_causes = non_males[['gun_related','opioid_related','cold_related','heat_related','covid_related']].groupby(non_males['manner_of_death']).sum()

In [47]:
male_causes.columns

Index(['gun_related', 'opioid_related', 'cold_related', 'heat_related',
       'covid_related'],
      dtype='object')

In [48]:
males.shape

(27997, 25)

In [50]:
other_male = pd.DataFrame(males[males['gun_related'] +males['opioid_related']+males['cold_related']+males['heat_related'] +males['cold_related']==0]['manner_of_death'].value_counts())

In [57]:
other_non_male = pd.DataFrame(non_males[non_males['gun_related'] +non_males['opioid_related']+non_males['cold_related']+non_males['heat_related'] +non_males['cold_related']==0]['manner_of_death'].value_counts())

In [51]:
all_causes_male = pd.concat([male_causes,other_male], axis=1)

In [58]:
all_causes_non_male = pd.concat([non_male_causes,other_non_male], axis=1)

In [52]:
all_causes_male.columns = ['gun_related', 'opioid_related', 'cold_related', 'heat_related', 'covid_related',
       'other']

In [59]:
all_causes_non_male.columns = ['gun_related', 'opioid_related', 'cold_related', 'heat_related', 'covid_related',
       'other']

In [53]:
all_causes_male

,gun_related,opioid_related,cold_related,heat_related,covid_related,other
ACCIDENT,11,9468,409,10,148,8061
HOMICIDE,6175,6,2,0,1,626
SUICIDE,1314,113,3,0,1,1939

In [60]:
all_causes_non_male

,gun_related,opioid_related,cold_related,heat_related,covid_related,other
ACCIDENT,1,2886,103,15,99,4195
HOMICIDE,618,4,0,0,0,319
SUICIDE,155,128,0,0,1,750

In [54]:
all_causes_male['tracked_category'] = all_causes_male['gun_related'] +all_causes_male['opioid_related']+all_causes_male['heat_related']+all_causes_male['heat_related']

In [61]:
all_causes_non_male['tracked_category'] = all_causes_non_male['gun_related'] +all_causes_non_male['opioid_related']+all_causes_non_male['heat_related']+all_causes_non_male['heat_related']

In [62]:
all_causes_male

,gun_related,opioid_related,cold_related,heat_related,covid_related,other,tracked_category
ACCIDENT,11,9468,409,10,148,8061,9499
HOMICIDE,6175,6,2,0,1,626,6181
SUICIDE,1314,113,3,0,1,1939,1427

In [63]:
all_causes_non_male

,gun_related,opioid_related,cold_related,heat_related,covid_related,other,tracked_category
ACCIDENT,1,2886,103,15,99,4195,2917
HOMICIDE,618,4,0,0,0,319,622
SUICIDE,155,128,0,0,1,750,283