In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dead = pd.read_csv('./data/Medical_Examiner_Case_Archive.csv')
dead.head()

/var/folders/hd/_s2x4yxn2cvgc7_fjy3dz4cr0000gn/T/ipykernel_4160/1916176885.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  dead = pd.read_csv('./data/Medical_Examiner_Case_Archive.csv')

,Case Number,Date of Incident,Date of Death,Age,Gender,Race,Latino,Manner of Death,Primary Cause,Primary Cause Line A,...,Incident Zip Code,longitude,latitude,location,Residence City,Residence Zip,OBJECTID,Chicago Ward,Chicago Community Area,COVID Related
0,ME2023-06354,10/26/2023 02:34:00 AM,10/26/2023 02:01:00 AM,NaN,Male,Black,False,NaN,NaN,NaN,...,60661,-87.640339,41.885803,"(41.8858033, -87.64033894)",NaN,NaN,78295,34.0,NEAR WEST SIDE,False
1,ME2023-06353,10/25/2023 10:08:00 PM,10/25/2023 09:42:00 PM,20.0,Male,Black,False,NaN,NaN,NaN,...,NaN,-87.628879,41.600921,"(41.60092087, -87.62887866)",Glenwood,60425,78291,NaN,NaN,False
2,ME2023-06352,10/25/2023 09:28:00 PM,10/25/2023 09:04:00 PM,67.0,Male,White,False,NaN,NaN,NaN,...,60804,-87.769649,41.827775,"(41.82777541, -87.76964878)",Cicero,60804,78290,NaN,NaN,False
3,ME2023-06351,10/25/2023 08:52:00 PM,10/25/2023 07:49:00 PM,48.0,Male,Black,False,NaN,NaN,NaN,...,60707,-87.804452,41.912988,"(41.91298845, -87.8044522)",CHICAGO,60707,78292,29.0,AUSTIN,False
4,ME2023-06350,10/25/2023 07:21:00 PM,10/25/2023 06:47:00 PM,40.0,Male,White,False,NaN,NaN,NaN,...,60458,-87.831108,41.758760,"(41.75876008, -87.83110831)",Justice,60458,78296,NaN,NaN,False

In [4]:
dead.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78221 entries, 0 to 78220
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             78221 non-null  object
 1   Date of Incident        76388 non-null  object
 2   Date of Death           78152 non-null  object
 3   Age                     77817 non-null  float64
 4   Gender                  77949 non-null  object
 5   Race                    77804 non-null  object
 6   Latino                  78221 non-null  bool
 7   Manner of Death         77744 non-null  object
 8   Primary Cause           77410 non-null  object
 9   Primary Cause Line A    77410 non-null  object
 10  Primary Cause Line B    24479 non-null  object
 11  Primary Cause Line C    3321 non-null   object
 12  Secondary Cause         30077 non-null  object
 13  Gun Related             76985 non-null  object
 14  Opioid Related          76985 non-null  object
 15  Cold Related            78221 non-null  bool
 16  Heat Related            78221 non-null  bool
 17  Commissioner District   68262 non-null  float64
 18  Incident Address        77176 non-null  object
 19  Incident City           76470 non-null  object
 20  Incident Zip Code       76372 non-null  object
 21  longitude               68264 non-null  float64
 22  latitude                68264 non-null  float64
 23  location                68264 non-null  object
 24  Residence City          76057 non-null  object
 25  Residence Zip           76189 non-null  object
 26  OBJECTID                78221 non-null  int64
 27  Chicago Ward            43482 non-null  float64
 28  Chicago Community Area  43489 non-null  object
 29  COVID Related           77462 non-null  object
dtypes: bool(3), float64(5), int64(1), object(21)
memory usage: 16.3+ MB

In [9]:
unk = dead[(dead['Manner of Death'].isna()) | (dead['Manner of Death'] == 'PENDING')]
unk['Primary Cause'].value_counts()

NON-HUMAN REMAINS, NO DEATH CERTIFICATE ISSUED                                                22
ORGANIC CARDIOVASCULAR DISEASE                                                                21
FETAL DEATH CERTIFICATE ISSUED                                                                19
NONHUMAN REMAINS, NO DC ISSUED                                                                17
NONHUMAN REMAINS, NO DEATH CERTIFICATE ISSUED                                                 11
                                                                                              ..
NON-HUMAN REMAINS NO DC                                                                        1
NON HUMAN REMAINS- NO DC ISSUED                                                                1
ACUTE RESPIRATORY FAILURE WITH HYPOXIA. NOVEL CORONA (COVID-19) VIRUS INFECTION                1
ACUTE RESPIRATORY FAILURE WITH HYPOXIA. PNEUMONIA. NOVEL CORONA (COVID-19) VIRAL INFECTION     1
NON-HUMAN REMAINS (NO DC ISSUED)                                                               1
Name: Primary Cause, Length: 176, dtype: int64

In [10]:
dead.shape

(78221, 30)

In [11]:
unk.shape

(1236, 30)

In [4]:
known = dead[(dead['Manner of Death'].notna()) & (dead['Manner of Death'] != 'PENDING')]
known.shape

(76985, 30)

In [14]:
known['Manner of Death'].value_counts()

NATURAL         38489
ACCIDENT        25008
HOMICIDE         7749
SUICIDE          4401
UNDETERMINED     1338
Name: Manner of Death, dtype: int64

In [17]:
# Credit: https://www.geeksforgeeks.org/get-unique-values-from-a-column-in-pandas-dataframe/

known['Incident Zip Code'].value_counts()

60628    1980
60624    1913
60623    1847
60620    1778
60619    1771
         ...
61326       1
6632        1
60052       1
46978       1
60066       1
Name: Incident Zip Code, Length: 586, dtype: int64

In [16]:
known['Incident Zip Code'].unique()

array(['60016', '60644', '60649', '60634', '60636', '60406', '60625',
       '60651', '60630', '60626', '60647', '60660', '60062', '60653',
       '60632', '60638', '60611', '60621', '60666', '60623', '60015',
       '60633', '60607', '60617', '60415', '60643', '60605', '60707',
       '60657', '60618', '60153', '60160', '60619', '60090', '60645',
       '60620', '60612', '60418', '60608', '60616', '60402', nan, '60089',
       '60202', '60624', '60193', '60628', '60010', '60107', '60450',
       '60525', '60640', '60629', '60103', '60610', '60409', '60546',
       '60622', '60458', '60466', '60169', '60560', '60004', '60447',
       '60438', '60714', '60827', '60639', '60077', '60652', '60076',
       '60609', '60443', '60439', '60164', '60426', '60025', '60475',
       '60641', '46405', '60613', '60018', '60430', '60487', '60478',
       '60527', '60803', '60304', '60659', '60804', '60614', '60005',
       '60471', '60615', '60123', '60201', '60637', '60120', '60459',
       '60473', '60068', '60411', '60462', '60642', '60526', '60091',
       '60452', '60056', '46310', '60071', '60070', '60805', '60655',
       '60302', '60053', '60194', '60464', '60631', '60451', '60463',
       '60093', '60453', '60419', '60131', '60074', '60176', '60173',
       '60445', '60656', '60604', '60603', '60455', '60162', '60422',
       '60501', '60712', '60428', '60606', '60101', '46307', '46341',
       '46394', '60429', '60654', '60706', '60472', '60601', '46320',
       '60482', '60477', '60008', '60476', '60661', '60465', '60171',
       '60534', '60449', '60007', '60305', '60513', '60020', '60067',
       '60130', '60043', '60646', '60543', '60104', '60440', '60403',
       '00000', '60435', '60124', '60914', '60022', '60126', '60106',
       '60136', '60425', '60446', '60192', '60002', '99999', '46366',
       '60521', '60115', '60457', '60456', '46360', '60491', '60970',
       '60172', '60140', '60026', '60480', '60118', '60085', '60110',
       '60159', '60538', '60029', '60467', '60163', '46304', '60035',
       '60178', '60416', '60602', '60155', '46383', '46323', '60137',
       '60047', '60407', '60133', '46406', '46408', '60165', '60064',
       '53182', '60417', '60490', '60946', '60469', '60154', '60142',
       '60484', '60423', '60141', '60195', '60105', '60042', '46322',
       '60191', '46368', '60505', '60189', '60143', '60431', '60060',
       '60151', '60404', '60073', '60177', '60461', '60301', '60181',
       '60441', '44052', '60188', '47943', '60468', '60717', '46402',
       '46319', '60558', '61701', 'UNKNOWN', '61101', '46407', '60013',
       '60510', '80124', '60108', '60196', '60955', '46410', '61021',
       '46403', '61350', '60148', '60551', '60420', '46201', '46391',
       '46324', '60504', '46390', '60586', '60545', '60401', '60410',
       '60901', '60634`', '60433', '46312', '61526', '60544', '46327',
       '60950', '60523', '60038', '46350', '46401', '60152', '60565',
       '60046', '606', '46347', '63080', '60559', '60448', '60502',
       '60203', '60009', '61360', '46385', '62056', '60485', '60506',
       '60050', '11380', '60699', '60964', '60102', '60061', '61108',
       '660443', '60648', '60081', '46356', '46534', '60515', '60514',
       '60096', '60084', '46404', '46311', '61265', '60157', '60031',
       '60436', '74959', '60045', '60030', '53140', '60503', '60682',
       '61201', '52804', '60103-4581', '61944', '60554', '60664', '60083',
       '61462', '53184', '49085', '60019', '60049', '60014', '60516',
       '61008', '60561', '60680', '53148', '60040', '606634', '60051',
       '60623-2735', '60532', '46409', '61342', '60663', '46371', '60481',
       '60910', '60548', '60099', '61369', '60087', '53511', '60175',
       '60156', '60185', '60139', '60174', '60517', '54896', '61938',
       '60542', '60936', '61724', '60412', '60119', '61264', '46349',
       '60437', '60540', '79525', '61081', '60552', '65560', '53105',
       '60953', '60442', '60563', '60555', '61362', '61455', '6004',
       '61764', 'unknown', '60012', '46321', '47978', '62864', '6415',
       '46342', '60462-4318', '46601', '46375', '61801', '46516', '60650',
       '60529', '61415', '61322', '53147', '61102', '60954', '60069',
       '60033', '606023', '60048', '60021', '62964', '60041', '60017',
       '60408', '60112', '60044', '61832', '60179', '60627', '62922',
       '11106', '60082', '61115', '61761', '61821', '61326', '6632',
       '61301', '60052', '60958', '46978', '60109', '600004', '46392',
       '6005', '60499', '60055', '60144', '53142', '46816', '58103',
       '60303', '60190', '60111', '60927', '60685', '60098', '61103',
       '60609-4728', '61354', '601716', '60678', '60691', '20906',
       '60585', '34442', '60938', '48080', '60913', '60460', '60677',
       '60134', '60479', '60688', '60635', '60669', '60161', '61001',
       '61065', '61614', '61114', '60681', '60421', '60667', '39051',
       '60432', '60023', '61754', '61031', '60956', '46628', '61820',
       '60541', '6032', '61535', '45840', '61735', '49117', '65212',
       '53121', '60065', '60210', '60911', '62236', '45432', '60922',
       '74047', '60915', '46373', '54301', '78723', '61401', '46365',
       '61320', '62259', '98036', 'LOMINO', '74403', '47804', '64658',
       '46225', '61051', '61914', '61802', '60167', '61615', '54613',
       '60704.', '54481', '6044', '46514', '60716', '35801', '60902',
       '62901', '48219', '60006', '60204', '60701', '73008', '60547',
       '48237', '46530', '46303', '60454', '49120', '60434', '48304',
       '606600', '53566', '61833', '61073', '60935', '18840', '60208',
       '10001', '604664', '60003', '08068', '62466', '6625', '04257',
       '62701', '60187', '61364', '6033', 'ITALY', '46308', '60690',
       '16802', '60825', '60097', '54501', '60564', '61104', '60634-3976',
       '53045', '14069', '48201', '49128', '600091', '60066'],
      dtype=object)

In [ ]:
zip_code = []
for item in df['incident_zip_code'].str():
    if '-' in item:
        zip_code.append(item[:5])
    elif (len(item) = 5 and 'item':
        zip_code.append(item)