In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('../susan/data/dataframe.csv')
df.head()

,Unnamed: 0,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,primary_cause_line_c,secondary_cause,gun_related,opioid_related,cold_related,heat_related,commissioner_district,incident_city,incident_zip_code,longitude,latitude,residence_city,residence_zip,chicago_community_area,covid_related
0,20,10/24/2023 12:43:00 AM,10/25/2023 12:11:00 AM,22.0,Female,Black,False,ACCIDENT,MULTIPLE BLUNT FORCE INJURIES. MOTOR VEHICLE C...,MULTIPLE BLUNT FORCE INJURIES,MOTOR VEHICLE COLLISION,NaN,NaN,False,False,False,False,1.0,CHICAGO,60644.0,-87.754890,41.872093,Indianapolis,46224.0,AUSTIN,False
1,22,10/24/2023 10:30:00 PM,10/24/2023 09:51:00 PM,35.0,Male,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,NaN,NaN,True,False,False,False,4.0,CHICAGO,60649.0,-87.558292,41.759939,Chicago,60633.0,SOUTH SHORE,False
2,23,10/24/2023 09:18:00 PM,10/24/2023 08:36:00 PM,54.0,Male,White,False,SUICIDE,GUNSHOT WOUND OF HEAD,GUNSHOT WOUND OF HEAD,NaN,NaN,NaN,True,False,False,False,12.0,CHICAGO,60634.0,-87.780811,41.955351,Chicago,60634.0,PORTAGE PARK,False
3,30,10/24/2023 07:48:00 AM,10/24/2023 07:16:00 AM,19.0,Male,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,NaN,NaN,True,False,False,False,3.0,CHICAGO,60649.0,-87.584359,41.771935,NaN,NaN,SOUTH SHORE,False
4,35,10/23/2023 10:21:00 PM,10/23/2023 09:29:00 PM,41.0,Male,Black,False,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,NaN,NaN,NaN,True,False,False,False,2.0,CHICAGO,60636.0,-87.663792,41.782286,Chicago,60636.0,WEST ENGLEWOOD,False

In [12]:
df.gender.unique(), df.gender.value_counts()

(array(['Female', 'Male', nan, 'Unknown'], dtype=object),
 Male       27997
 Female      9154
 Unknown        1
 Name: gender, dtype: int64)

In [13]:
df.race.unique(), df.race.value_counts()

(array(['Black', 'White', 'Other', 'Asian', 'Unknown', 'Am. Indian', nan],
       dtype=object),
 White         19284
 Black         16704
 Asian           667
 Other           362
 Unknown          60
 Am. Indian       32
 Name: race, dtype: int64)

In [23]:
df.age.unique(), df.age.value_counts()

(array([ 22.,  35.,  54.,  19.,  41.,  59.,  31.,  79.,  78.,  37.,  33.,
         12.,  58.,  49.,  21.,  72.,  27.,  43.,  36.,  42.,  68.,  63.,
         48.,  29.,  88.,  52.,  69.,  66.,  46.,  34.,  85.,  57.,  64.,
         26.,  76.,  40.,  77.,  23.,  28.,  83.,  25.,  95.,  30.,  82.,
         61.,  65., 102.,  44.,  67.,  45.,  20.,  55.,  50.,  38.,  14.,
         nan,  86.,  16.,  24.,  80.,  70.,  56.,  71.,  13.,  74.,  94.,
         60.,  91.,  89.,  84.,  47.,  90.,  51.,  18.,  73.,  32.,  17.,
         96.,  98.,  39.,  75.,  81.,  62.,  87.,  53.,  99.,  15.,  92.,
         97., 100.,   9.,  93.,   0., 101.,   3.,   5.,   1.,   4.,   2.,
          7.,   6., 104.,   8.,  10.,  11., 105., 103., 107., 106.]),
 26.0     751
 25.0     739
 27.0     732
 56.0     717
 57.0     709
         ...
 103.0      5
 105.0      3
 104.0      2
 107.0      1
 106.0      1
 Name: age, Length: 108, dtype: int64)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37158 entries, 0 to 37157
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              37158 non-null  int64
 1   date_of_incident        36699 non-null  object
 2   date_of_death           37157 non-null  object
 3   age                     37126 non-null  float64
 4   gender                  37152 non-null  object
 5   race                    37109 non-null  object
 6   latino                  37158 non-null  bool
 7   manner_of_death         37158 non-null  object
 8   primary_cause           37158 non-null  object
 9   primary_cause_line_a    37158 non-null  object
 10  primary_cause_line_b    11848 non-null  object
 11  primary_cause_line_c    516 non-null    object
 12  secondary_cause         7196 non-null   object
 13  gun_related             37158 non-null  bool
 14  opioid_related          37158 non-null  bool
 15  cold_related            37158 non-null  bool
 16  heat_related            37158 non-null  bool
 17  commissioner_district   32080 non-null  float64
 18  incident_city           36708 non-null  object
 19  incident_zip_code       36456 non-null  float64
 20  longitude               32081 non-null  float64
 21  latitude                32081 non-null  float64
 22  residence_city          36129 non-null  object
 23  residence_zip           36143 non-null  float64
 24  chicago_community_area  21544 non-null  object
 25  covid_related           37158 non-null  bool
dtypes: bool(6), float64(6), int64(1), object(13)
memory usage: 5.9+ MB

* gender: drop nan, Unknown
* race: make nans 'Unknown'
* primary_cause_line_b and \_c: make nan 'no_text'
* secondary cause: make nan 'no_text'
* commissioner_district: make nan 'no_text'
* incident_city: make nan 'no_text'
* incident_zip_code: make nan 'no_text'
* residence_city: make nan 'no_text'
* residence_zip: make nan 'no_text'
* chicago_community_area: make nan 'not Chicago'
* date_of_death: set to date of incident


* make 1s and 0s: latino, cold_related, heat_related, gun_related, opiod_related, covid_related, gender, 

What to do about nans in:<br>
    date_of_incident<br>
    age<br>
    longitude<br>
    latitude?
    
missing age: make age categorical: 0-4, 5-14, 15-24, 25-64, 65+ ; including "Unknown"
missing lat/long: use centroid of zipcode or Ward if we can
missing date_of_incident: see if we can use average difference between date of death and date of incedence and use that
Split date, time, and day of week for date_of_death and date_of_incident

In [25]:
df[(df['manner_of_death']=='HOMICIDE') & (df['covid_related'])==True]

,Unnamed: 0,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,primary_cause_line_c,secondary_cause,gun_related,opioid_related,cold_related,heat_related,commissioner_district,incident_city,incident_zip_code,longitude,latitude,residence_city,residence_zip,chicago_community_area,covid_related
6410,10927,11/01/2020 12:00:00 AM,06/09/2022 01:55:00 PM,11.0,Male,White,True,HOMICIDE,NOVEL CORONA (COVID-19) VIRAL PNEUMONIA,NOVEL CORONA (COVID-19) VIRAL PNEUMONIA,NaN,NaN,COMPLICATIONS OF BLUNT FORCE HEAD TRAUMA DUE T...,False,False,False,False,NaN,MORRIS,60450.0,NaN,NaN,Romeoville,60446.0,NaN,True

In [10]:
df.columns

Index(['Unnamed: 0', 'date_of_incident', 'date_of_death', 'age', 'gender',
       'race', 'latino', 'manner_of_death', 'primary_cause',
       'primary_cause_line_a', 'primary_cause_line_b', 'primary_cause_line_c',
       'secondary_cause', 'gun_related', 'opioid_related', 'cold_related',
       'heat_related', 'commissioner_district', 'incident_city',
       'incident_zip_code', 'longitude', 'latitude', 'residence_city',
       'residence_zip', 'chicago_community_area', 'covid_related'],
      dtype='object')

In [17]:
location=df[['incident_city', 'incident_zip_code', 'longitude', 'latitude', 'commissioner_district', 'chicago_community_area']]

location[(location['longitude'].isna()) & (location['incident_zip_code'].isna())].count()

incident_city             336
incident_zip_code           0
longitude                   0
latitude                    0
commissioner_district       0
chicago_community_area      0
dtype: int64

In [22]:
location[location['longitude'].isna()].count()

incident_city             4817
incident_zip_code         4515
longitude                    0
latitude                     0
commissioner_district        0
chicago_community_area       0
dtype: int64

#### 5077 rows with no lat/long
* of the 5077,  562 with no incident_zip_code
* of the 5077, 260 with no incident_city

In [24]:
5077-4817

260