## Topic Classification

Credit: Federico Pascual,  https://monkeylearn.com/blog/introduction-to-topic-modeling/

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk

# nltk.download('punkt')
from nltk.tokenize import word_tokenize

# nltk.download('stopwords')
from nltk.corpus import stopwords

from nltk.stem.porter import PorterStemmer

In [7]:
df = pd.read_csv('../data/cleaned_data_31OCT.csv')

In [8]:
def process_text(text):
    # Make all the strings lowercase and remove non alphabetic characters
    text = re.sub('[^A-Za-z]', ' ', text.lower())

    # Tokenize the text; this is, separate every sentence into a list of words
    # Since the text is already split into sentences you don't have to call sent_tokenize
    tokenized_text = word_tokenize(text)

    # Remove the stopwords and stem each word to its root
    clean_text = [
        stemmer.stem(word) for word in tokenized_text
        if word not in stopwords.words('english')
    ]

    # Remember, this final output is a list of words
    return clean_text

In [9]:
df.head(2)

,date_of_incident,date_of_death,age,gender,race,latino,manner_of_death,primary_cause,primary_cause_line_a,primary_cause_line_b,...,residence_zip,chicago_community_area,covid_related,age_range,death_date,death_time,death_day,inc_date,inc_time,inc_day
0,2023-10-24 00:43:00,2023-10-25 00:11:00,22.0,1,Black,0,ACCIDENT,MULTIPLE BLUNT FORCE INJURIES. MOTOR VEHICLE C...,MULTIPLE BLUNT FORCE INJURIES,MOTOR VEHICLE COLLISION,...,46224,AUSTIN,0,15-24,2023-10-25,00:11:00,Wednesday,2023-10-24,00:43:00,Tuesday
1,2023-10-24 22:30:00,2023-10-24 21:51:00,35.0,0,Black,0,HOMICIDE,MULTIPLE GUNSHOT WOUNDS,MULTIPLE GUNSHOT WOUNDS,no_text,...,60633,SOUTH SHORE,0,25-64,2023-10-24,21:51:00,Tuesday,2023-10-24,22:30:00,Tuesday